body {
	margin:5%; 
    background-color: #FFFFEA;
	text-align:justify;
}

#about {
	
}

#history {
	
}

#offer {
	
}

#sidebar {
	
}

p {
	font-family: "Times New Roman", Times, serif;
    margin-left: 1em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Times New Roman", Times, serif;
	color: black;
}