body {
	margin:5%; 
    background-image: url("images/background.jpg");
	text-align:center;
}

p {
	font-family: "Comic Sans MS", "Comic Sans", cursive;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Courier New", Courier, monospace;
}

.content {
	position: relative;
	margin-left: 15.5em;
}

#about {
	color: blue;
}

#history {
	color: red;
}

#offer {
	color: yellow;
}

.sidebar {
	position: absolute;
	top: 0.5em;
	bottom: 0.5em;
	left: 0.5em;
	width: 14em;
}

#side {
	color: orange;
}

#pic {
	padding: 0.5em;
}

