body {
	font-family: "Times New Roman", Times, serif;
	background-color: #A7C8D4;
}

h1, h2, h3, h4, h5, h6 {	
}


p, li {
	margin-left: 1em;
	color: #284752;
}

.content {
	position: relative;
	margin-left: 15.5em;
}

#about {
}

#history {
}

#offer {
}

.sidebar {
	position: absolute;
	top: 0.5em;
	bottom: 0.5em;
	left: 0.5em;
	width: 14em;
	background-color:#629DB2;
}

#side {
	margin-left: 1em;
}

#pic {
}
