body {
	margin:5%; 
    background-color: #FFFFEA;
	text-align:justify;
}

p {
	font-family: "Times New Roman", Times, serif;
    color: black;
    margin-left: 1em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Times New Roman", Times, serif;
	color: black;
	text-align: center;
}

pre { 
	font-style: italic; 
	font-size: 90%; 
	margin-left: 10%;
}

