body {
	margin:5%; 
    background-color: #FFFFEA;
	font-family: "Times New Roman", Times, serif;
}

p {
    color: black;
    margin-left: 1em;
	text-align:justify;
}

h1, h2, h3, h4, h5, h6 {
	color: black;
	text-align: center;
}

pre { 
	font-style: italic; 
	font-size: 90%; 
	margin-left: 10%;
}

img {
	padding: 0.2em;
	display:block; 
	margin: 0 auto; 
	text-align:center;
}
